.box {
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    text-align: center;
  }
  
  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .box input[type = "text"],.box input[type = "password"] {
    border: 0;
    background: none;
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .box input[type = submit] {
    border: 0;
    background: none;
    display: block;
    margin: auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s; 
  }
  
  .brand-logo:hover {
    color: black;
  }

  .box input[placeholder]{
      color: white;
  }
  