.header-color {
  background: #59C173;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}
 
.footer-color {
  background: #59C173;  
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); 
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%
}
 
 
 
.mdl-card__supporting-text {
  font-family: 'oxygen', sans-serif;
  color: rgb(32, 2, 2);
  font-size: 20;
  padding: 5px;
  justify-content: center;
}
 
 
h3.DevName {
  font-family: 'Satisfy', cursive;
  color: #5D26C1;
  padding: 0;
  margin: 5px;
}
 
.details-title{
  font-family: 'Satisfy', cursive;
  color: #5D26C1;
  padding: 0px;
  margin: 5px;
}
 
.contacts-grid {
  margin: 0;
  /* margin-top: -210px; */
  font-family: sans-serif;
  background-size: cover;
  background-color: rgba(255,255,255,0.6);
}
 
.App {
  font-family: sans-serif;
  text-align: center;
}
 
.zindex1{
  z-index: 1000;
 
}
 
a {
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #5D26C1;
}





